.navButtons {
    flex-grow: 0.5;
    @include flexCenter;
    justify-content: space-evenly;
    padding: 0px /* 0.25rem 0.2rem 0.25rem */;
    margin-top: 0;
    max-height: 175px;
}
.hr {
    max-height: 125px;
    margin-top: 22.5px;
    margin-bottom: 4px;
    @include mqh(768px) {
        margin-top: 50px;
    margin-bottom: 40px;
    }
    @include mqMinWMaxH(700px, 1400px) {
                margin-bottom: 5px;    
    }
}